body {
  margin: 0;
  font-family: "gamesFont";
}

button {
  font-family: "gamesFont";
}

@font-face {
  font-family: "gamesFont";
  src: url("../../public/fonts/karnakcondensed-normal-700.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "wordleFont";
  src: url("../../public/fonts/franklin-normal-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "strandsFont";
  src: url("../../public/fonts/franklin-normal-500.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
