body {
  margin: 0;
  font-family: "gamesFontThin";
}

button {
  font-family: "gamesFont";
}

@font-face {
  font-family: "gamesFont";
  src: url("fonts/karnakcondensed-normal-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "gamesFontThin";
  src: url("font/karnak-small-normal-400.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "wordleFont";
  src: url("fonts/franklin-normal-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "strandsFont";
  src: url("fonts/franklin-normal-500.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
