@font-face {
  font-family: "wordleFont";
  src: url("../../../../../public/fonts/franklin-normal-700.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.container {
  display: flex;
  justify-content: space-between;
}

.letter {
  font-family: "wordleFont";
  font-size: 15px;
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: white;
  line-height: 25px;
  position: relative;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.front {
  background: white;
  border: 2px solid #d3d6da;
}

.back {
  background: #6aaa64;
  color: white;
  transform: rotateX(180deg);
}
