.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: inherit;
  height: 100%;
}

.solve {
  border-radius: 7px;
  background-color: white;
  border: none;
  height: 40px;
  cursor: pointer;
  padding: 0px;
  padding-right: 2px;
  padding-bottom: 2px;
  box-shadow: inset -2px 0px 1px rgba(0, 0, 0, 0.3);
  transition: 0.25s ease;

  margin-top: -2px;
  font-size: 20px;
}

.solve:active {
  padding: 0px;

  padding-top: 2px;

  margin: 0px;

  box-shadow: inset 2px 0px 1px rgba(0, 0, 0, 0.3);
}
