@font-face {
  font-family: "strandsFont";
  src: url("../../../../../public/fonts/franklin-normal-500.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.letterWrapper {
  display: flex;
  align-items: center;
  flex: 1;
  position: relative;
}

.letter {
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  font-family: "strandsFont";
  font-size: 13px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 22px;
  position: relative;
  flex-shrink: 0;
  background-color: transparent;
  overflow: hidden;
}

.front {
  position: relative;
  z-index: 1;
}

.connector {
  height: 8px;
  flex: 1;
  margin: 0px -2px;
  transform-origin: left center;
}
