.button {
  border-radius: 15%;
  width: 34px;
  height: 34px;
  border: none;
  padding: 4px;
  padding-bottom: 6px;
  padding-right: 6px;
  cursor: pointer;

  box-shadow: inset -2px -2px 0 rgba(0, 0, 0, 0.35);
  transition: 0.25s ease;
}

.button.active {
  transform: translate(2px, 2px);
  box-shadow: inset 2px 2px 0 rgba(0, 0, 0, 0.35);
  padding: 4px;
  padding-top: 6px;
  padding-left: 6px;
}

img {
  width: 100%;
  height: 100%;
}
