button {
  border-radius: 15%;
  width: 32px;
  height: 32px;
  border: none;
  padding: 4px;
  transition: 0.1s;
  cursor: pointer;
}

button:hover {
  transform: scale(1.05);
}

button:active {
  transform: scale(0.95);
}

img {
  width: 100%;
  height: 100%;
}
