.container {
  display: flex;
}

.logo {
  padding: 10px;
  padding-right: 12px;
}

.logo img {
  width: 32px;
  height: 34px;
}

.title {
  padding: 10px;
  padding-left: 0px;
}

.title img {
  height: 32px;
  width: inherit;
}
