.full {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.container {
  margin: 10px 0px;
  border-radius: 7px;
  background-color: rgb(255, 255, 255);

  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.3);
  padding: 5px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.row p {
  font-size: 15px;
  margin: 0px;
  font-size: 18px;
}
