.full {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.container {
  margin: 10px 0px;
  border-radius: 5px;
  background-color: white;
  padding: 0px 5px;
}

.row {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 5px 0px;
}

.background {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.1);
  gap: 1px;
}

.row p {
  margin: 0px;
  font-size: 15px;
}
